<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf</title>
<link rel="stylesheet" href="http://bit.ly/3WJ5ilK" />
</head>
<body>
    <!-- m7.html -->
    <h1>
        Spring AI <small>Map</small>
    </h1>

    <form method="POST" action="/m7">
        <table>
            <tr>
                <td style="width: 600px;"><textarea name="message"
                        required class="full"></textarea></td>
                <td><button>질문하기</button></td>
            </tr>
        </table>
    </form>

    <hr>

    <table th:if="${result}" class="content">
        <tr>
            <th>국가</th>
            <th>단위</th>
        </tr>
        <tr th:each="entry : ${result}">
            <td th:text="${entry.key}"></td>
            <td th:text="${entry.value}"></td>
        </tr>
    </table>

</body>
</html>
