<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf</title>
<link rel="stylesheet" href="http://bit.ly/3WJ5ilK" />
</head>
<body>
    <!-- index.html -->
    <h1>주소록</h1>

    <table>
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th>주소</th>
        </tr>
        <tr th:each="address : ${dlist}" th:object="${address}">
            <td th:text="*{seq}">1</td>
            <td th:text="*{name}">홍길동</td>
            <td th:text="*{age}">20</td>
            <td th:text="*{gender}">남자</td>
            <td th:text="*{address}">서울시 강남구 대치동</td>
        </tr>
    </table>
    <div>
        <button type="button" onclick="location.href='/add';">추가하기</button>
    </div>

</body>
</html>










